@namespace BlazorBlueprint.Components
@using BlazorBlueprint.Icons.Lucide.Components

<span class="@TextCssClass"
      role="button"
      tabindex="0"
      aria-label="@(AriaLabel ?? Localizer["CopyText.ClickToCopy"])"
      @onclick="HandleClickAsync"
      @onkeydown="HandleKeyDownAsync"
      @onmouseenter="HandleMouseEnter"
      @onmouseleave="HandleMouseLeave"
      @onfocus="HandleFocus"
      @onblur="HandleBlur"
      @attributes="AdditionalAttributes">

    @ChildContent

    <span aria-hidden="true"
          class="@TooltipCssClass">
        <LucideIcon Name="@CurrentIconName" Class="@TooltipIconCssClass" />

        <span class="@TooltipTextCssClass">@CurrentTooltipText</span>

    </span>
</span>
