@namespace BlazorBlueprint.Components

@if (ResolvedElement == MarkerElement.Anchor)
{
    <a data-slot="marker"
       data-variant="@Variant.ToString().ToLowerInvariant()"
       class="@CssClass"
       href="@Href"
       @attributes="AdditionalAttributes">
        @ChildContent
    </a>
}
else if (ResolvedElement == MarkerElement.Button)
{
    <button data-slot="marker"
            data-variant="@Variant.ToString().ToLowerInvariant()"
            type="button"
            class="@CssClass"
            @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}
else
{
    <div data-slot="marker"
         data-variant="@Variant.ToString().ToLowerInvariant()"
         class="@CssClass"
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
